@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: "Noto Sans JP", sans-serif;
}

body {
  background-color: rgb(233, 174, 129);
  font-size: 16px;
}

h1 {
  font-size: 1.55rem;
  text-align: center;
  margin-top: 16px;
  margin-bottom: 16px;
}

.player-selection {
  display: flex;
  background-color: aqua;
  justify-content: center;
  gap: 3%;
  height: 80px;
  margin-bottom: 16px;
}

.player-selection li {
  width: 25%;
  border: solid;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(176, 252, 121);
  border-radius: 25% 10%;
}

.player-selection li:hover {
  background-color: rgb(117, 180, 235);
}

.display-choices {
  display: flex;
  justify-content: center;
  gap: 3%;
  background-color: blanchedalmond;
  height: 80px;
  margin-bottom: 16px;
}

.display-choices div {
  border: solid 2px;
  width: 25%;
  border-radius: 7%;
  justify-content: center;
  align-items: center;
}

.display-choices div:empty {
  display: None;
}

.player-choice-display {
  display: flex;
  background-color: rgb(255, 127, 240);
}

.robot-choice-display {
  display: flex;
  background-color: rgb(131, 144, 231);
}

.display-end-game-sentence-box {
  background: rgb(186, 236, 150);
  display: flex;
  height: 80px;
  justify-content: center;
}

.display-end-game-sentence-box div:empty {
  display: None;
}

.display-end-game-sentence-box div {
  display: flex;
  background: rgb(236, 150, 150);
  border: solid 2px;
  /* width: 33%; */
  flex: 0.3 0 33%;
  border-radius: 7%;
  justify-content: center;
  align-items: center;
}

@media (min-width: 580px) {
  h1 {
    font-size: 2rem;
  }

  .player-selection {
    height: 100px;
  }

  .player-selection li {
    width: 10%;
  }

  .display-choices {
    height: 100px;
  }

  .display-choices div {
    width: 10%;
  }

  .display-end-game-sentence-box {
    height: 100px;
  }

  .display-end-game-sentence-box div {
    flex: 0.15 0 10%;
  }
}
